<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" metadata-complete="true"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:application-context.xml
		</param-value>
	</context-param>
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>mUserPermission</filter-name>
		<filter-class>com.syx.taobao.filter.MUserFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>mUserPermission</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>loggerFilter</filter-name>
		<filter-class>com.syx.taobao.filter.LoggerFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>loggerFilter</filter-name>
		<url-pattern>*.htm</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>taobao-admin</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath*:taobao-admin-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>taobao-admin</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
</web-app>